.font {
  color: #212121;
  font-family: "Open Sans";
}
.container {
  max-width: 750px;
}
.name, .email{
  display: inline-block;
  width: 49%;
}
.email {
  margin-left: 7px;
}
#message {
  height: 180px;
}
h2 {
  text-align: center;
  padding-top: 60px;
  font-size: 85px;
  font-weight: 600;
}