#background {
  background-color: #183659;
}
#header {
  text-align: center;
  color: #D4AF37;
  font-family: AmericanTypewriter-Light;
  display: block;
  height: 100vh;
  min-height: 700px;
}
#header h1 {
  font-size: 100px;
  font-weight: normal;
  padding-top: 200px;
  margin-bottom: 0px;
}
#header p {
  font-size:25px;
}
#header hr {
  border-color: #D4AF37;
  max-width: 22%;
  opacity: 0.5;
}
#header form {
  display: inline;
}
a {
  fill: #D4AF37;
  padding: 5px;
}
#header .btn:hover {
  background-color: #D4AF37;
}
.btn {
  color: #D4AF37;
  border-color: #D4AF37;
}
#header .btn {
  width: 150px;
}
#skills {
  height: 500px;
  background-color: #0f263f;
  text-align: center;
}
#skills h2 {
  font-weight: normal;
  text-align: left;
  font-size: 30px;
  color: #D4AF37;
  font-family: AmericanTypewriter-Light;
}
.spacing {
  padding-top: 100px;
}
#about {
  text-align: left;
}
#skills p {
  font-weight: normal;
  color: #D4AF37;
  font-family: AmericanTypewriter-Light;
  text-align: left;
}
#projects {
  height: 750px;
}
#projects h2{
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  color: #D4AF37;
  font-family: AmericanTypewriter-Light;
}
#footer {
  background-color: #0f263f;
  min-height: 100px;
}
#footer p {
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
  color: #D4AF37;
  font-family: AmericanTypewriter-Light;
}
.card {
  min-height: 200px;
  margin: 15px 5px 5px 5px;
}
.card:hover {
  background-color: blueviolet;
}