<html>
  <head>
    <title> Eric's Portfolio </title>
    <link rel='stylesheet' href='style.css' />
  </head>
  <body id='background'>
    <div class="container">
      <div id="header">
        <h1 id="name">Eric Dodds</h1>
        <hr>
      </div>
      </div>
    </div>
  </body>
</html>