<html>
  <head>
    <title> Eric's Portfolio </title>
    <link rel='stylesheet' href='css/index.css' />
  </head>
  <body id='background'>
    <div>
      I am <%= person.firstName %> <%= person.lastName %>
    </div>
  </body>
</html>