#background {
  background-color: #183659;
}
#header {
  text-align: center;
  color: #D4AF37;
  font-family: AmericanTypewriter-Light;
}
#header p {
  font-size:25px;
}
#header h1 {
  font-size: 100px;
  font-weight: normal;
  margin-top: 150px;
  margin-bottom: 0px;
}
#header hr {
  border-color: #D4AF37;
  max-width: 35%;
  opacity: 0.5;
}
#links {
  display: inline;
}
a {
  fill: #D4AF37;
  padding: 5px;
}
#header .btn:hover {
  background-color: #D4AF37;
}
.btn-outline-warning {
  color: #D4AF37;
  border-color: #D4AF37;
}
#header .btn {
  margin-left: 50px;
}